.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 69%, rgba(9,9,121,1) 100%, rgba(1,184,236,1) 100%, rgba(97,207,244,1) 100%, rgba(0,212,255,1) 100%);
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 30%;
  height: 50%;
  border-radius: 25px;
  box-shadow: 5px 5px 40px 0px;
}

.container-inputs {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60%;
}

.input-email {
  margin-bottom: 20px;
}

.input-email,
.input-password {
  color: #000;
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
  border-bottom: 2px solid #000;
}

.input-email:focus,
.input-password:focus {
  border-bottom: 2px solid rgb(39, 56, 216);
}

.input-login {
  margin-bottom: 10px;
  margin-left: -85%;
}


.container-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 20%;

}

.btn-login,
.btn-register {
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 15px;
  background-color: rgb(39, 56, 216);
  color: #fff;
  border: none;
}
